
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    color: #1c1a1a;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    text-align: center; 
    font-size: 24px; 
    margin-top: 0; 
    color: green;
 }

.single-background {
    background: url('imgfundal.jpg') center/cover; /* Utilizează 'url' pentru a specifica imaginea de fundal */
}

.register-container {
    width: 300px;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #8e44ad;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.icon-label {
    display: inline-block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #8e44ad;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #6c3483;
}
